ExtranetAppsOmniSerca/Service References/WSEmpleadosLiquidaciones/WebServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="GetConformidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pItmLiq" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConformidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetConformidadResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataSet">
        <s:sequence>
          <s:element ref="s:schema" />
          <s:any />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmpleados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pUsr" type="s:long" />
            <s:element minOccurs="0" name="pAcc" type="s:long" />
            <s:element minOccurs="0" name="pPer" type="s:long" />
            <s:element minOccurs="0" name="pEst" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpleadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetEmpleadosResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLiquidacionDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pLiqId" type="s:long" />
            <s:element minOccurs="0" name="pEst" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLiquidacionDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetLiquidacionDetalleResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMotivosReclamos">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetMotivosReclamosResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetMotivosReclamosResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPeriodos">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetPeriodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetPeriodosResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResumen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pLiqId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResumenResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetResumenResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarioValidacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pUsr" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarioValidacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetUsuarioValidacionResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reliquidar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pLiqId" type="s:long" />
            <s:element minOccurs="0" name="pUsr" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReliquidarResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ReliquidarResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetConformidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pItm" type="s:string" />
            <s:element minOccurs="0" name="pCnf" type="s:long" />
            <s:element minOccurs="0" name="pMot" type="s:long" />
            <s:element minOccurs="0" name="pHEnt" type="s:string" />
            <s:element minOccurs="0" name="pMEnt" type="s:string" />
            <s:element minOccurs="0" name="pHSal" type="s:string" />
            <s:element minOccurs="0" name="pMSal" type="s:string" />
            <s:element minOccurs="0" name="pObs" type="s:string" />
            <s:element minOccurs="0" name="pUsr" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetConformidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SetConformidadResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRespuesta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pItm" type="s:string" />
            <s:element minOccurs="0" name="pSta" type="s:long" />
            <s:element minOccurs="0" name="pRta" type="s:string" />
            <s:element minOccurs="0" name="pUsr" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRespuestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SetRespuestaResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetConformidadSoapIn">
    <wsdl:part name="parameters" element="s0:GetConformidad" />
  </wsdl:message>
  <wsdl:message name="GetConformidadSoapOut">
    <wsdl:part name="parameters" element="s0:GetConformidadResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpleadosSoapIn">
    <wsdl:part name="parameters" element="s0:GetEmpleados" />
  </wsdl:message>
  <wsdl:message name="GetEmpleadosSoapOut">
    <wsdl:part name="parameters" element="s0:GetEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="GetLiquidacionDetalleSoapIn">
    <wsdl:part name="parameters" element="s0:GetLiquidacionDetalle" />
  </wsdl:message>
  <wsdl:message name="GetLiquidacionDetalleSoapOut">
    <wsdl:part name="parameters" element="s0:GetLiquidacionDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="GetMotivosReclamosSoapIn">
    <wsdl:part name="parameters" element="s0:GetMotivosReclamos" />
  </wsdl:message>
  <wsdl:message name="GetMotivosReclamosSoapOut">
    <wsdl:part name="parameters" element="s0:GetMotivosReclamosResponse" />
  </wsdl:message>
  <wsdl:message name="GetPeriodosSoapIn">
    <wsdl:part name="parameters" element="s0:GetPeriodos" />
  </wsdl:message>
  <wsdl:message name="GetPeriodosSoapOut">
    <wsdl:part name="parameters" element="s0:GetPeriodosResponse" />
  </wsdl:message>
  <wsdl:message name="GetResumenSoapIn">
    <wsdl:part name="parameters" element="s0:GetResumen" />
  </wsdl:message>
  <wsdl:message name="GetResumenSoapOut">
    <wsdl:part name="parameters" element="s0:GetResumenResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioValidacionSoapIn">
    <wsdl:part name="parameters" element="s0:GetUsuarioValidacion" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioValidacionSoapOut">
    <wsdl:part name="parameters" element="s0:GetUsuarioValidacionResponse" />
  </wsdl:message>
  <wsdl:message name="ReliquidarSoapIn">
    <wsdl:part name="parameters" element="s0:Reliquidar" />
  </wsdl:message>
  <wsdl:message name="ReliquidarSoapOut">
    <wsdl:part name="parameters" element="s0:ReliquidarResponse" />
  </wsdl:message>
  <wsdl:message name="SetConformidadSoapIn">
    <wsdl:part name="parameters" element="s0:SetConformidad" />
  </wsdl:message>
  <wsdl:message name="SetConformidadSoapOut">
    <wsdl:part name="parameters" element="s0:SetConformidadResponse" />
  </wsdl:message>
  <wsdl:message name="SetRespuestaSoapIn">
    <wsdl:part name="parameters" element="s0:SetRespuesta" />
  </wsdl:message>
  <wsdl:message name="SetRespuestaSoapOut">
    <wsdl:part name="parameters" element="s0:SetRespuestaResponse" />
  </wsdl:message>
  <wsdl:portType name="EmpleadosLiquidacionesSoap">
    <wsdl:operation name="GetConformidad">
      <wsdl:input message="s0:GetConformidadSoapIn" />
      <wsdl:output message="s0:GetConformidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpleados">
      <wsdl:input message="s0:GetEmpleadosSoapIn" />
      <wsdl:output message="s0:GetEmpleadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLiquidacionDetalle">
      <wsdl:input message="s0:GetLiquidacionDetalleSoapIn" />
      <wsdl:output message="s0:GetLiquidacionDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMotivosReclamos">
      <wsdl:input message="s0:GetMotivosReclamosSoapIn" />
      <wsdl:output message="s0:GetMotivosReclamosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPeriodos">
      <wsdl:input message="s0:GetPeriodosSoapIn" />
      <wsdl:output message="s0:GetPeriodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResumen">
      <wsdl:input message="s0:GetResumenSoapIn" />
      <wsdl:output message="s0:GetResumenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioValidacion">
      <wsdl:input message="s0:GetUsuarioValidacionSoapIn" />
      <wsdl:output message="s0:GetUsuarioValidacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reliquidar">
      <wsdl:input message="s0:ReliquidarSoapIn" />
      <wsdl:output message="s0:ReliquidarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetConformidad">
      <wsdl:input message="s0:SetConformidadSoapIn" />
      <wsdl:output message="s0:SetConformidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRespuesta">
      <wsdl:input message="s0:SetRespuestaSoapIn" />
      <wsdl:output message="s0:SetRespuestaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmpleadosLiquidacionesSoap" type="s0:EmpleadosLiquidacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConformidad">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.GetConformidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleados">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.GetEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiquidacionDetalle">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.GetLiquidacionDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotivosReclamos">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.GetMotivosReclamos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodos">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.GetPeriodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResumen">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.GetResumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioValidacion">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.GetUsuarioValidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reliquidar">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.Reliquidar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConformidad">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.SetConformidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRespuesta">
      <soap:operation soapAction="http://tempuri.org/WebServices.EmpleadosLiquidaciones.SetRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpleadosLiquidaciones">
    <wsdl:port name="EmpleadosLiquidacionesSoap" binding="s0:EmpleadosLiquidacionesSoap">
      <soap:address location="remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.EmpleadosLiquidaciones.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>