ExtranetAppsOmniSerca/Service References/WSClientesDocumentos/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="GetComprobantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pUsr" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComprobantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetComprobantesResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataSet">
        <s:sequence>
          <s:element ref="s:schema" />
          <s:any />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCuentaCorriente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pCli" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCuentaCorrienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetCuentaCorrienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServicioRenglon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pUsr" type="s:long" />
            <s:element minOccurs="0" name="pDoc" type="s:long" />
            <s:element minOccurs="0" name="pInc" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServicioRenglonResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetServicioRenglonResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiciosComprobantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pUsr" type="s:long" />
            <s:element minOccurs="0" name="pDoc" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiciosComprobantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetServiciosComprobantesResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarioValidacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pUsr" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarioValidacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetUsuarioValidacionResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetComprobantesSoapIn">
    <wsdl:part name="parameters" element="s0:GetComprobantes" />
  </wsdl:message>
  <wsdl:message name="GetComprobantesSoapOut">
    <wsdl:part name="parameters" element="s0:GetComprobantesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCuentaCorrienteSoapIn">
    <wsdl:part name="parameters" element="s0:GetCuentaCorriente" />
  </wsdl:message>
  <wsdl:message name="GetCuentaCorrienteSoapOut">
    <wsdl:part name="parameters" element="s0:GetCuentaCorrienteResponse" />
  </wsdl:message>
  <wsdl:message name="GetServicioRenglonSoapIn">
    <wsdl:part name="parameters" element="s0:GetServicioRenglon" />
  </wsdl:message>
  <wsdl:message name="GetServicioRenglonSoapOut">
    <wsdl:part name="parameters" element="s0:GetServicioRenglonResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiciosComprobantesSoapIn">
    <wsdl:part name="parameters" element="s0:GetServiciosComprobantes" />
  </wsdl:message>
  <wsdl:message name="GetServiciosComprobantesSoapOut">
    <wsdl:part name="parameters" element="s0:GetServiciosComprobantesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioValidacionSoapIn">
    <wsdl:part name="parameters" element="s0:GetUsuarioValidacion" />
  </wsdl:message>
  <wsdl:message name="GetUsuarioValidacionSoapOut">
    <wsdl:part name="parameters" element="s0:GetUsuarioValidacionResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientesDocumentosSoap">
    <wsdl:operation name="GetComprobantes">
      <wsdl:input message="s0:GetComprobantesSoapIn" />
      <wsdl:output message="s0:GetComprobantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentaCorriente">
      <wsdl:input message="s0:GetCuentaCorrienteSoapIn" />
      <wsdl:output message="s0:GetCuentaCorrienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServicioRenglon">
      <wsdl:input message="s0:GetServicioRenglonSoapIn" />
      <wsdl:output message="s0:GetServicioRenglonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiciosComprobantes">
      <wsdl:input message="s0:GetServiciosComprobantesSoapIn" />
      <wsdl:output message="s0:GetServiciosComprobantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioValidacion">
      <wsdl:input message="s0:GetUsuarioValidacionSoapIn" />
      <wsdl:output message="s0:GetUsuarioValidacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientesDocumentosSoap" type="s0:ClientesDocumentosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComprobantes">
      <soap:operation soapAction="http://tempuri.org/WebServices.ClientesDocumentos.GetComprobantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaCorriente">
      <soap:operation soapAction="http://tempuri.org/WebServices.ClientesDocumentos.GetCuentaCorriente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicioRenglon">
      <soap:operation soapAction="http://tempuri.org/WebServices.ClientesDocumentos.GetServicioRenglon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiciosComprobantes">
      <soap:operation soapAction="http://tempuri.org/WebServices.ClientesDocumentos.GetServiciosComprobantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioValidacion">
      <soap:operation soapAction="http://tempuri.org/WebServices.ClientesDocumentos.GetUsuarioValidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientesDocumentos">
    <wsdl:port name="ClientesDocumentosSoap" binding="s0:ClientesDocumentosSoap">
      <soap:address location="remote.omnisaludsa.com.ar:57773/csp/shaman/WebServices.ClientesDocumentos.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>